.login {
    width: 20%; /* Genişliği sayfa genişliğinin yarısı kadar olsun. */
    display: flex;
    flex-direction: column; /* Elementleri alt alta sıraladım */
    justify-content: flex-start; 
    margin: 50px auto;  /* Sayfayı ortalamak için kullandım. */
}

.loginTitle {
    display: flex;
    justify-content: center;
    font-family: 'Varela', sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.loginInput {
    padding: 20px 20px 10px 5px;
    border: none;
    border-bottom: 1px solid rgb(178, 178, 178);
    margin-bottom: 15px;
    outline: none;
    font-family: 'Varela Round', sans-serif;
}

.loginForm input:nth-child(2) {
    margin-bottom: 30px;
}

.loginButton {
    width: 100%;
    height: 45px;
    margin: 0 auto;
    background-color: #e3e3e3;
    color: #369d6d;
    border-color: #c2ded1;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.loginButton:disabled { 
    cursor: not-allowed;
    
}

.loginRegister {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginRegister span {
    font-family: 'Josefin Sans', sans-serif;
}

.loginRegisterLink {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 40px;   
    text-decoration: none;
}

.loginRegisterButton {
    width: 100%;
    background-color: #e3e3e3;
    color: #369d6d;
    border-color: #c2ded1;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

@media (max-width: 821px) { 
   .login {
    width: 40%; /* Genişliği sayfa genişliğinin yarısı kadar olsun. */
   }
}