* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style-type: none;
}
.top {
    width: 100%;
    height: 90px;
    background-color: #C2DED1;
    position: sticky; /* scroll yaptıkça sabit kalsın */
    top: 0;
    display: flex; /* child elementler yan yana sıralansın */
    align-items: center; /* child elementler dikeyde ortaya hizalansın */
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0 2px 6px 0 rgba(38, 47, 40, 0.8);
    z-index: 999;
}

@media (max-width: 821px) {
    .top {
        height: 80px;
    }
    .topListItem a {
        font-size: 15px;
    }
    .topListItem:last-child {
        font-size: 15px;
        display: flex;
        align-items: center;
        position: relative;
        top: 2px;
    } 
    .top .topRight .link { 
        font-size: 15px;
        position: relative;
        top: 2px;
    } 
}

@media (max-width: 420px) {
    .top {
        width: 100vw;
        height: 50px;
    }
    .top .topCenter {
        flex: 8;
        margin-left: 10px;
    }

    .top .topRight {
        flex: 1.5;
    }
    .top .topRight .link { 
        font-size: 13px;
    }
    .top .topLeft {
        display: none;
    }
    .top .topCenter ul li {
        margin-right: 10px;
    }
    .topRight i {
        display: none;
    }
    .topRight ul li img {
        width: 30px;
        height: 30px;
        object-fit: cover; /* istenilen ölçülerde resmi bozmadan sığdırır */
        border-radius: 50%; /* tam daire haline getirir */
        margin-right: 0px;
        display: flex;
    }
}

.topLeft {
    flex: 3; /* 3 birim */
    display: flex; 
    align-items: center; /* child elemetleri dikeyde ortaya hizalar */
    justify-content: center; /* child elementleri yatayda ortada konumlandırır */
}

.topRight {
    flex: 3; /* 3 birim */
    display: flex; 
    align-items: center; /* child elemetleri dikeyde ortaya hizalar */
    justify-content: center; /* child elementleri yatayda ortada konumlandırır */ 
}

.topCenter {
    flex: 6; /* 6 birim */
}

.topList {
    display: flex; /* child elementleri yan yana sıralar */
    justify-content: center; /* yatayda ortada konumlandırdı */
}

.topListItem {
    font-size: 20px;
    font-weight: 400;
    margin-right: 30px; /* elementlerin arasına 15px mesafe koyduk */
    cursor: pointer;
}

.topListItem a {
    text-decoration: none;
    color: black;
}

.topSearchIcon {
    font-size: 20px;
    cursor: pointer;
}

.topIcon {
    margin-right: 5px;
    font-size: 25px;
    cursor: pointer;
}

.topImg {
    width: 50px;
    height: 50px;
    object-fit: cover; /* istenilen ölçülerde resmi bozmadan sığdırır */
    border-radius: 50%; /* tam daire haline getirir */
    margin-right: 10px;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin-right: 20px;
    cursor: pointer;
}