.sidebar {
    flex: 3;
    height: 570px;
    margin: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    position: sticky;   /* scroll ettikçe yukarıdan 105px sabit kalsın */
    top: 110px;
    border-bottom: 3px solid #403c3c;
    border-top: 3px solid #403c3c;
}

.sidebar:hover {
    background-color: #f6fffd;
}

.sideBarTitle {
    margin: 10px;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #403c3c;
}

.aboutMe {
    width: 30%;
}

.sideBarTitleImg {
   width: 70%;  /* SideBar alanının tüm genişliğine yayılsın */
   height: 220px;
   object-fit: cover;
   border-radius: 50%; 
   margin-bottom: 15px;
}

.sideBarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideBarItem p {
    padding: 10px 20px 0px 20px;
    padding-bottom: 0;
    text-align: justify;
}

.sideBarList {
    list-style: none;
    margin-bottom: 10px;
}

.sideBarListItem {
    display: inline-block;
    width: 50%;
}

.sideBarSocial {
    margin-top: 10px;
}

.sideBarIcon {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.sideBarListLink {
    text-decoration: none;
}