.header {
    margin-top: 50px;
}

.headerTitles {
    display: flex;
    flex-direction: column; /* Dikey hizaladım */
    align-items: center; /* Elementler dikey hizalı olduğu için, center ile satırda ortalamış oldum. */
    font-family: 'Righteous', cursive;
    color: #444;
}

.headerTitleBig {
    position: absolute;
    top: 22%;
    font-size: 50px;
}

.headerImage {
    width: 100%;
    height: 350px;
    margin-top: 41px;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    width: 100%;
}